{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ app.user.userIdentifier }}</h1>
    {{ form_start(participantForm) }}
    {{ form_widget(participantForm) }}
    <button>Modifier</button>
    {{ form_end(participantForm) }}
{% endblock %}
