.container {  display: grid;
    justify-items: center;
    justify-content: center;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 0.5fr 2fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
    "photoprofil"
    "username"
    "form";
}

.photoprofil {
    grid-area: photoprofil;
}

.username {
    grid-area: username;
}

.form {
    grid-area: form;
}

#photoprofil img {
    display: grid;
    width: 5em;
    height: 5em;
    border-radius: 50%;
}


label {
    width: 300px;
    display: inline-block;
    vertical-align: top;
    margin: 6px;
}


input, textarea {
    width: 250px;
    margin-top: 1em;
}

textarea {
    height: 100px;
    margin-top: 1em;
}

select {
    width: 254px;
}

input[type=checkbox] {
    width: 10px;
    margin-top: 1em ;
}

input[type=submit] {
    width: 200px;
    padding: 10px;
}

