html {
    font-family: "Arial";
}

body{
    background-color: #f3f0f0;
}
.logo img {
    max-width: 10%;
    margin-right: auto;
    margin-bottom: 1em;
    display: flex;
    text-align: center;
}


#barrenav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    margin-bottom: 1em;
}

#barrenav li {
    float: left;
    border-right:1px solid #d5cdcd;
}

#barrenav li:last-child {
    border-right: none;
}

#barrenav li a {
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#barrenav li a:hover:not(.active) {
    background-color: #8d8585;
}

/*form{
    text-align: center;
}*/

#photoprofil img {
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 5em;
    height: 5em;
    border-radius: 50%;
    border: solid 1px ;
}

a{
    color: #0067e1;
}
