{% extends 'base.html.twig' %}

{% block body %}
    {{ form_start(sortieForm) }}
    {{ form_widget(sortieForm) }}
    <button name="formBouton" value="enregistrer">Enregistrer</button>
    <button name="formBouton" value="publier">Publier</button>
    {{ form_end(sortieForm) }}

    <script>


        $('#sortie_ville').change(function () {
            let idVille = document.getElementById('sortie_ville').value;
            let adresse = "/sortie/get/lieux/" + idVille;

            $.ajax({
                type: "GET",
                url: adresse,
                dataType: "json",
                success: function (response) {
                    var lieuSelect = $("#sortie_lieu").html('');
                    lieuSelect.append("")

                    for (let i = 0; i < response.length; i++) {
                        let textLieu = "<option value="+response[i]["id"]+">"
                        +response[i]["nom"]+"</option>";
                        lieuSelect.append(textLieu);
                    }
                }
            });
        });
    </script>
{% endblock %}


{% block title %}

{% endblock %}