{% extends 'base.html.twig' %}

{% block body %}

    <link rel="stylesheet" href="{{ asset('css/ajoutSortie.css') }}">
    <div class="container">
        {{ form_start(sortieForm) }}
        {{ form_widget(sortieForm) }}
        <button name="formBouton" value="enregistrer">Enregistrer</button>
        <button name="formBouton" value="publier">Publier</button>
        {{ form_end(sortieForm) }}
    <button id="bouton_ajout_lieu">ajouter un lieu</button>
    </div>
    
    <script>
        $add_lieu = false;

        $("#bouton_ajout_lieu").click( function () {
            let formulaire_sortie = document.getElementById("sortie").parentNode;
            let input_nom_lieu = document.createElement("textarea");
            formulaire_sortie.appendChild(input_nom_lieu);
        })

        $('#sortie_ville').change(function () {
            let idVille = document.getElementById('sortie_ville').value;
            let adresse = "/sortie/get/lieux/" + idVille;

            $.ajax({
                type: "GET",
                url: adresse,
                dataType: "json",
                success: function (response) {
                    var lieuSelect = $("#sortie_lieu").html('');
                    lieuSelect.append("")

                    for (let i = 0; i < response.length; i++) {
                        let textLieu = "<option value=" + response[i]["id"] + ">"
                            + response[i]["nom"] + "</option>";
                        lieuSelect.append(textLieu);
                    }
                }
            });
        });

        $
    </script>
{% endblock %}


{% block title %}

{% endblock %}