{% extends 'base.html.twig' %}

{% block title %}New Sortie{% endblock %}

{% block body %}
    <h1>Create new Sortie</h1>

    {{ include('sortie_crud/_form.html.twig') }}

    <a href="{{ path('app_sortie_crud_index') }}">back to list</a>
{% endblock %}
